:root {
  --primary-500: #3d998a;
  --green-400: #2eb1a1;
  --black: #242D49;
  --gray: #788097;
  --blue-200: #217889;
  --blue-100: #b8edff;
  --boxShadow: 0px 24px 24px 3px rgba(93, 218, 224, 0.7);
  --orangeCard: rgba(88, 232, 242, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  transition: transform 0.2s ease-out;
  border-radius: 34px;

  border: none;
  background: var(--green-400);
  color: white;
  font-size: 1rem;
  box-shadow: 0 5px 0 var(--blue-200)
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}